<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>

  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>-m</string>
    <string>reminders_bridge.sync</string>
    <string>--felt-store</string>
    <string>__FELT_STORE__</string>
    <string>--felt-bin</string>
    <string>__FELT_BIN__</string>
__EXCLUDE_ROOT_ARGS__
    <string>--calendar</string>
    <string>__CALENDAR__</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>__PYTHONPATH__</string>
  </dict>

  <key>WorkingDirectory</key>
  <string>__REPO_DIR__</string>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>300</integer>

  <key>StandardOutPath</key>
  <string>__LOG_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__LOG_PATH__</string>
</dict>
</plist>
